#root {
    -fx-background-color: #031326;
}

FlowPane {
    -fx-alignment: center;
}

#sidePane {
    -fx-background-color: #172C42;
}

.color-box {
    -fx-pref-width: 24;
    -fx-pref-height: 24;
    -fx-border-width: 1;
    -fx-border-color: gray;
}

.color-box.chosen {
    -fx-border-color: white;
}

.color-box:hover {
    -fx-border-color: gold;
}

.tool-pane {
    -fx-background-color: #2F445C;
    -fx-min-width: 100;
    -fx-max-width: 100;
    -fx-border-width: 3;
    -fx-border-color: grey;
    -fx-padding: 5;
}

Button.choose-stroke {
    -fx-min-width: 39;
    -fx-border-width: 1;
    -fx-max-width: 60;
}

#colorBoxFlow {
    -fx-vgap: 5;
    -fx-hgap: 5;
}

.spacer {
    -fx-font-size: 4;
}

.choose-tool.chosen {
    -fx-border-color: gold;
    -fx-border-width: 4;
    -fx-border-radius: 2;
}
